body {
  min-width: 300px;
  margin: 0 auto;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}