.social-btn {
  display: block;
  font-size: 0;
}
.social-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 30px;
  height: 30px;
  @media ($mobile-width) {
    top: 0;
  }
}
.social-btn {
  &--vk::before {
    background: url("../img/vk.png") no-repeat center;
    background-size: cover;
  }
  &--insta::before {
    background: url("../img/insta.png") no-repeat center;
    background-size: cover;
  }
  &--face::before {
    background: url("../img/fb.png") no-repeat center;
    background-size: cover;
  }
  &--tg::before {
    background: url("../img/tg.png") no-repeat center;
    background-size: cover;
  }
}