
@import "base/normalize.css";
@import "abstract/variables.css";
@import "abstract/mixin.css";
@import "base/fonts.css";
@import "base/global.css";

@import "blocks/main-nav.css";
@import "blocks/btn.css";
@import "blocks/footer.css";
@import "blocks/welcome-page.css";
@import "blocks/logo.css";
@import "blocks/social-btn.css";
@import "blocks/overlay.css";
@import "blocks/main-header.css";

.img__main {
  width: 33%;
  margin: 0.15%;
}
.main-content {
  margin: 0 auto;
}
.grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.promo {
  line-height: 16px;
}
/*
.promo__foto {
  display: block;
  width: 35vw;
  height: 35vw;
  background: url("../img/jukov.jpg") no-repeat center;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}*/
/*
.promo__title {
  position: absolute;
}*/