$mobile-width: (max-width: 399px);
$tablet-width: (min-width: 400px) and (max-width: 767px);
$desktop-width: (min-width: 768px);
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);

@define-mixin wrap-mobile{
  width: 100%;
  margin: 0 auto;
}
@define-mixin wrap-tablet {
  width: 100%;
  margin: 0 auto;
}
@define-mixin wrap-desktop {
  width: 90%;
  margin: 0 auto;
}

@define-mixin wrap {
  @media ($only-mobile) {
    @mixin wrap-mobile;
  }
  @media ($tablet-width) {
    @mixin wrap-tablet;
  }
  @media ($desktop-width) {
    @mixin wrap-desktop;
  }
}
/* resets */
@define-mixin btn-reset {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@define-mixin fieldset-reset {
  border: none;
  margin: 0;
  padding: 0; 
}
@define-mixin reset-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* style */
@define-mixin radiocheck-style {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 78px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
@define-mixin link-style {
  position: relative;
  display: block;
  font-family: "Oswald";
  font-weight: 200;
  font-size: 18px;
  line-height: 50px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  &:hover {
    color: #e2160e;
    transition: color .3s ease-in-out;
    @media ($desktop-width) {
      &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 20px;
      }
    } 
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@define-mixin placeholder-style {
  color: #000000;
}
/* fonts */
@define-mixin font-normal $font-size, $line-height {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}
@define-mixin font-light $font-size, $line-height {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: $font-size;
  line-height: $line-height;
}
@define-mixin font-italic $font-size, $line-height {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}
/* фиксирует и растягивает модальное окно до указанного 
$modal-width размера */
@define-mixin modal-fix $modal-width {
  display: block;
  position: fixed;
  top: 20%;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 90;
  @media (min-width: $modal-width+1) {
    width: $modal-width;
    left: 50%;
    margin-left: -($modal-width)/2;
  }
}