.modal {
  display: none;
  min-width: 320px;
  padding-top: 25px;
  background-color: #ffffff;
  &--error-on {
    @mixin modal-fix 401px;
    padding-bottom: 35px;
    box-shadow: 0 5px 15px 0 rgba(#000101, .15);
    @media $tablet-width {
      padding-bottom: 48px;
    }
  }
  &--success-on {
    @mixin modal-fix 640px;
    padding-bottom: 20px;
    background: linear-gradient(to top, #f2f2f2 30%, #ffffff 30%);
    box-shadow: 0 5px 15px 0 rgba(#000101, .15);
    @media $tablet-width {
      padding-bottom: 42px;
      background: linear-gradient(to top, #f2f2f2 41%, #ffffff 41%);
    }
  }
}
.modal__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__title {
  font-size: 18px;
  @media $tablet-width {
    margin-top: 39px;
    margin-bottom: 15px;
    font-size: 30px;
  }
  &--error {
    @media $tablet-width {
      width: 225px;
      margin-top: 29px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 40px;
    }
  }
}
.modal__text {
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 21px;
  @media $tablet-width {
    width: 280px;
    margin-bottom: 33px;
  }
  &--success {
    margin-bottom: 52px;
    @media $tablet-width {
      width: 420px;
      margin-bottom: 79px;
    }
  }
}
.modal__btn {
  width: 100%;
  max-width: 458px;
  line-height: 58px;
  @media $tablet-width {
    font-size: 21px;
  }
  &--error {
    width: 180px;
    @media $tablet-width {
      width: 272px;
    }
  }
  &--success {
    @media $tablet-width {
      width: 458px;
    }
  }
}
