.page-header {
  color: $menu-text-color;
}
.page-header__wrap {
  background-color: $bg-color
}
.page-header__download {
  margin-top: 395px;
}
.page-header__download-wrap {
  padding: 28px 20px 29px 20px;
}
.page-header__download-info {
  @mixin font-light 14px, 24px;
  display: block;
  text-align: center;
}
.page__header-title {
  @mixin font-light 24px, 28px;
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 84px;
  text-align: center;
  &--form {
    padding-bottom: 56px;
  }
}