.reviews {
  text-align: center;
}
.reviews__author {
  @mixin font-bold 18px, 24px;
}
.reviews__text {
  @mixin font-normal 14px, 30px;
  color: $text-color;
}
.reviews__wrap {
  padding-top: 45px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;
}